
@media (min-width: 1200px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  .owl-buttons {
    display: block;
  }
  .items {
    &.col-4 {
      margin-left: -10px;
      margin-bottom: -10px;
      li {
        width: 285px;
        margin-left: 10px;
        margin-bottom: 10px;
      }
    }
    &.col-3 {
      margin-left: -9px;
      margin-bottom: -9px;
      li {
        width: 384px;
        margin-left: 9px;
        margin-bottom: 9px;
      }
      &.gap {
        margin-left: -21px;
        margin-bottom: -21px;
        li {
          width: 376px;
          margin-left: 21px;
          margin-bottom: 21px;
        }
      }
    }
    &.col-4.gap {
      margin-left: -18px;
      margin-bottom: -18px;
      li {
        width: 279px;
        margin-left: 18px;
        margin-bottom: 18px;
      }
    }
  }
  .grid-blog.col-2 {
    margin-left: -40px;
  }
  .sidebar-left {
    .grid-blog.col-2 {
      margin-left: -20px;
    }
    .pagination {
      margin-left: 20px;
    }
  }
  .grid-blog {
    &.col-2 {
      .post {
        width: 390px;
        margin-left: 40px;
        margin-bottom: 40px;
      }
      &.no-sidebar .post {
        width: 565px;
      }
    }
    &.col-3 {
      margin-left: -30px;
      .post {
        margin-left: 30px;
        margin-bottom: 30px;
      }
      &.no-sidebar .post {
        width: 370px;
      }
    }
  }
  .sidebar {
    padding-left: 35px !important;
  }
  .navbar .dropdown-submenu > {
    a:after {
      display: none;
    }
    .dropdown-menu:not(.yamm-dropdown-menu) {
      margin-top: 0;
    }
  }
  .dropdown-submenu {
    position: relative;
    > .dropdown-menu:not(.yamm-dropdown-menu) {
      top: 0;
      left: 100%;
      margin-top: -6px;
    }
    &:hover > .dropdown-menu:not(.yamm-dropdown-menu) {
      display: block;
    }
    > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      margin-top: 5px;
      margin-right: -10px;
    }
    &.pull-left {
      float: none;
      > .dropdown-menu:not(.yamm-dropdown-menu) {
        left: -100%;
        margin-left: 10px;
      }
    }
  }
  .open > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    > .dropdown-submenu > .dropdown-menu {
      animation-name: slidenavAnimation;
      animation-duration: 200ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-name: slidenavAnimation;
      -webkit-animation-duration: 200ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: slidenavAnimation;
      -moz-animation-duration: 200ms;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-out;
      -moz-animation-fill-mode: forwards;
    }
  }
  @keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }

    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  @-webkit-keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }

    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  .modal-dialog {
    top: 50px;
    bottom: 50px;
    left: 50px;
    right: 50px;
    width: calc(100% - 100px);
  }
}

@media (min-width: 1025px) {
  .navbar-collapse.collapse {
    padding-bottom: 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  /*    br {
        display: none;
    }*/
  #team {
    .inner-left {
      padding-left: 40px;
    }
    .inner-right {
      padding-right: 40px;
    }
  }
  .classic-blog {
    .post {
      width: 601px;
      padding-bottom: 50px;
    }
    .post-content > {
      * {
        margin-left: 50px;
        margin-right: 50px;
      }
      .post-media {
        margin-left: 0;
        margin-right: 0;
      }
      *:first-child {
        margin-top: 45px;
      }
    }
    .post-media + * {
      margin-top: 45px;
    }
    .post-content > .post-media:first-child, .owl-carousel.post-media + * {
      margin-top: 0;
    }
    .post-title {
      font-size: 33px;
    }
    .post-content .meta {
      padding-left: 50px;
      padding-right: 50px;
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: 25px;
    }
  }
  .grid-blog {
    &.col-2 {
      margin-left: -30px;
      .post {
        width: 330px;
        margin-left: 30px;
        margin-bottom: 30px;
      }
      .post-title {
        font-size: 28px;
      }
      &.no-sidebar {
        margin-left: -40px;
        .post {
          width: 465px;
          margin-left: 40px;
          margin-bottom: 40px;
        }
      }
    }
    &.col-3.no-sidebar {
      margin-left: -25px;
      .post {
        width: 306px;
        margin-left: 25px;
        margin-bottom: 25px;
      }
      .post-title {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .tabs-circle-top {
    .etabs:before {
      margin: 55px 0 -55px;
    }
    .tab {
      height: 140px;
      margin: 0 10px;
      a {
        width: 110px;
        height: 110px;
        max-width: 110px;
        font-size: 12px;
        div {
          font-size: 36px;
        }
      }
      &.active a {
        height: 140px;
        width: 140px;
        max-width: 140px;
        font-size: 14px;
        div {
          font-size: 46px;
        }
      }
    }
  }
  .navbar .dropdown-submenu > {
    a:after {
      display: none;
    }
    .dropdown-menu:not(.yamm-dropdown-menu) {
      margin-top: 0;
    }
  }
  .dropdown-submenu {
    position: relative;
    > .dropdown-menu:not(.yamm-dropdown-menu) {
      top: 0;
      left: 100%;
      margin-top: -6px;
    }
    &:hover > .dropdown-menu:not(.yamm-dropdown-menu) {
      display: block;
    }
    > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      margin-top: 5px;
      margin-right: -10px;
    }
    &.pull-left {
      float: none;
      > .dropdown-menu:not(.yamm-dropdown-menu) {
        left: -100%;
        margin-left: 10px;
      }
    }
  }
  .open > .dropdown-menu {
    animation-name: slidenavAnimation;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-name: slidenavAnimation;
    -webkit-animation-duration: 200ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: slidenavAnimation;
    -moz-animation-duration: 200ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: forwards;
    > .dropdown-submenu > .dropdown-menu {
      animation-name: slidenavAnimation;
      animation-duration: 200ms;
      animation-iteration-count: 1;
      animation-timing-function: ease-out;
      animation-fill-mode: forwards;
      -webkit-animation-name: slidenavAnimation;
      -webkit-animation-duration: 200ms;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: ease-out;
      -webkit-animation-fill-mode: forwards;
      -moz-animation-name: slidenavAnimation;
      -moz-animation-duration: 200ms;
      -moz-animation-iteration-count: 1;
      -moz-animation-timing-function: ease-out;
      -moz-animation-fill-mode: forwards;
    }
  }
  @keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }

    to {
      margin-top: 0;
      opacity: 1;
    }
  }

  @-webkit-keyframes slidenavAnimation {
    from {
      margin-top: -30px;
      opacity: 0;
    }

    to {
      margin-top: 0;
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  /*html {
    overflow-x: hidden;
  }*/
  #hero .info, .items li .text-overlay .info.big, .thumbs .thumb .text-overlay .info.big, .owl-carousel .item .text-overlay .info.big {
    margin-top: -35px;
  }
  .retina-icons-code code {
    font-size: 11.5px;
  }
  .tabs-side.tab-container .panel-container {
    padding-left: 50px;
  }
  br {
    display: none;
  }
  #team {
    .inner-left {
      padding-left: 30px;
    }
    .inner-right {
      padding-right: 30px;
    }
  }
  .classic-blog {
    .post {
      width: 630px;
      padding-bottom: 50px;
    }
    .post-content > {
      * {
        margin-left: 50px;
        margin-right: 50px;
      }
      .post-media {
        margin-left: 0;
        margin-right: 0;
      }
      *:first-child {
        margin-top: 45px;
      }
    }
    .post-media + * {
      margin-top: 45px;
    }
    .post-content > .post-media:first-child, .owl-carousel.post-media + * {
      margin-top: 0;
    }
    .post-title {
      font-size: 33px;
    }
    .post-content .meta {
      padding-left: 50px;
      padding-right: 50px;
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: 25px;
    }
    &.no-sidebar {
      .sidemeta, .pagination {
        left: auto;
      }
    }
  }
  .sidebar-left .grid-blog.col-2 {
    padding-left: 20px;
    padding-right: 0;
    + .pagination {
      padding-left: 20px;
      padding-right: 0;
    }
  }
  .grid-blog {
    &.col-2 {
      padding-right: 20px;
      margin-left: 0;
      margin-bottom: 0;
      .post {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
      }
      .post-title {
        font-size: 28px;
      }
      &.no-sidebar {
        padding-right: 0;
        margin-left: -25px;
      }
    }
    &.col-3.no-sidebar {
      padding-right: 0;
      margin-left: -25px;
    }
    &.col-2.no-sidebar .post, &.col-3.no-sidebar .post {
      width: 347px;
      padding-bottom: 40px;
      margin-left: 25px;
      margin-bottom: 25px;
    }
    &.col-2.no-sidebar .post-content > *, &.col-3.no-sidebar .post-content > * {
      margin-left: 40px;
      margin-right: 40px;
    }
    &.col-2.no-sidebar {
      .post-content > *:first-child, .post-media + * {
        margin-top: 35px;
      }
    }
    &.col-3.no-sidebar {
      .post-content > *:first-child, .post-media + * {
        margin-top: 35px;
      }
    }
    &.col-2.no-sidebar .post-content .meta, &.col-3.no-sidebar .post-content .meta {
      padding-left: 40px;
      padding-right: 40px;
      margin-right: -5px;
      margin-left: -5px;
      margin-bottom: 25px;
    }
    &.col-2.no-sidebar .post-title, &.col-3.no-sidebar .post-title {
      font-size: 24px;
    }
    &.col-2.no-sidebar p, &.col-3.no-sidebar p {
      font-size: 16px;
    }
  }
  .format-filter li a {
    padding: 0 25px;
  }
  .blog.no-sidebar {
    .post, #comments, .pagination, .comment-form-wrapper {
      width: 100%;
    }
  }
  .classic-blog {
    .pagination, .comment-form-wrapper {
      margin-bottom: 120px;
    }
    &.no-sidebar {
      .pagination, .comment-form-wrapper {
        margin-bottom: 0;
      }
    }
  }
  [class*="col-md"] {
    &[class*="inner-left"], &[class*="inner-right"] {
      padding-left: 15px;
      padding-right: 15px;
    }
    &[class*="border-left"] {
      border-left: none;
    }
    &[class*="border-right"] {
      border-right: none;
    }
  }
  .tabs-circle-top {
    .etabs:before {
      margin: 50px 0 -50px;
    }
    .tab {
      height: 130px;
      margin: 0 5px;
      a {
        width: 100px;
        height: 100px;
        max-width: 100px;
        font-size: 11px;
        div {
          font-size: 33px;
        }
      }
      &.active a {
        height: 130px;
        width: 130px;
        max-width: 130px;
        font-size: 13px;
        div {
          font-size: 44px;
        }
      }
    }
  }
  #owl-main .caption {
    &.text-center, &.text-left, &.text-right {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .navbar-header .navbar-brand {
    display: inline-block;
  }
  .navbar-collapse {
    .navbar-brand {
      display: none;
    }
    &.collapse {
      display: none !important;
      &.in {
        display: block !important;
      }
    }
  }
  .navbar {
    .container {
      display: block;
    }
    .social, .info {
      display: none;
    }
  }
  .navbar-header {
    background: #FFF;
    padding: 25px 0;
  }
  .btn.responsive-menu {
    display: table;
    i {
      display: table-cell;
      vertical-align: middle;
    }
  }
  .navbar-collapse {
    position: static !important;
    background: #F5F7FA;
    max-height: inherit;
    padding-top: 0;
    padding-bottom: 0;
    &:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
  .yamm {
    .nav, .dropup, .dropdown, .collapse {
      float: none;
      position: relative;
    }
    .dropdown-menu {
      position: relative;
      left: inherit;
      top: inherit;
      float: none;
      width: 100%;
      /* display: block !important;*/
    }
    .yamm-content {
      padding: 12px 0;
      font-size: 13px;
    }
  }
  .navbar-nav {
    float: none !important;
    display: block;
    padding: 15px 0;
    > li {
      float: none;
      display: block;
      + li {
        border-top: 1px solid #E6E9ED;
      }
      > a {
        padding-left: 0;
        padding-right: 0;
        border: none;
        border-radius: 0;
        &:hover, &:focus {
          background: none;
        }
      }
    }
    .dropdown-menu {
      border: none;
      box-shadow: none;
    }
    .dropdown-submenu .dropdown-menu {
      top: 0 !important;
      padding-left: 20px;
    }
    .dropdown-menu > li:last-child {
      margin-bottom: 20px;
    }
    .searchbox {
      float: left !important;
      display: block;
      width: 100%;
    }
  }
  .navbar-header {
    float: left;
    width: 100%;
    &:after {
      content: '';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}

@media (max-width: 969px) {
  .yamm .dropdown.yamm-fullwidth .dropdown-menu {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container, .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .tabs-side {
    .etabs {
      width: 240px;
    }
    &.tab-container .panel-container {
      width: 480px;
    }
  }
  .tabs-top.left .tab {
    margin-right: 2px;
    a {
      padding: 5px 10px;
    }
  }
  .items {
    &.col-4 {
      margin-left: -9px;
      margin-bottom: -9px;
      li {
        width: 234px;
        margin-left: 9px;
        margin-bottom: 9px;
      }
    }
    &.col-3 {
      margin-left: -9px;
      margin-bottom: -9px;
      li {
        width: 234px;
        margin-left: 9px;
        margin-bottom: 9px;
      }
      &.gap {
        margin-left: -18px;
        margin-bottom: -18px;
        li {
          width: 351px;
          margin-left: 18px;
          margin-bottom: 18px;
        }
      }
    }
    &.col-4.gap {
      margin-left: -18px;
      margin-bottom: -18px;
      li {
        width: 351px;
        margin-left: 18px;
        margin-bottom: 18px;
      }
    }
  }
}

@media (max-width: 767px) {
  /*body {
    height: 100vh;
  }*/
  h1, h2, h3, h4 {
    letter-spacing: .0125em;
  }
  h1 {
    font-size: 33px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  header p {
    font-size: 20px;
  }
  footer {
    .inner {
      padding-top: 35px;
      padding-bottom: 25px;
    }
    .row .inner {
      padding-left: 20px;
      padding-right: 20px;
    }
    .container > .row {
      margin-left: -20px;
      margin-right: -20px;
    }
  }
  .row {
    overflow: hidden;
  }
  #share {
    overflow: hidden;
    .container {
      width: auto;
      padding: 0;
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  /*.owl-controls {
    display: inline;
  }
  
  .owl-pagination {
    top: 0 !important;
  }*/
  .last-bottom {
    padding-bottom: 20px !important;
    + .last-bottom {
      padding-bottom: 0 !important;
    }
  }
  .thumbs.gap-lg {
    margin-left: -15px;
    .thumb {
      padding: 0 0 15px 15px;
    }
  }
  .icon.pull-right {
    margin-left: 10px;
  }
  .inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .inner-md {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .inner-sm {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-xs {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .inner-top {
    padding-top: 80px;
  }
  .inner-top-md {
    padding-top: 65px;
  }
  .inner-top-sm {
    padding-top: 50px;
  }
  .inner-top-xs {
    padding-top: 40px;
  }
  .inner-bottom {
    padding-bottom: 80px;
  }
  .inner-bottom-md {
    padding-bottom: 65px;
  }
  .inner-bottom-sm {
    padding-bottom: 50px;
  }
  .inner-bottom-xs {
    padding-bottom: 40px;
  }
  .height-xs, .height-sm, .height-md, .height-lg {
    height: 88vh;
  }
  #owl-main {
    .item, &.height-md .item, &.height-lg .item {
      height: 88vh;
    }
  }
  #hero {
    h1 {
      font-size: 38px;
      line-height: 115%;
      letter-spacing: 0.031em;
    }
    p {
      font-size: 20px;
      line-height: 135%;
      margin-top: 15px;
    }
    #owl-main .caption h1 {
      &.light-bg, &.medium-bg, &.dark-bg, &.tint-bg {
        font-size: 33px;
      }
    }
    .btn {
      margin-top: 25px;
    }
    .btn-large {
      font-size: 16px;
      padding: 12px 30px 15px;
    }
  }
  .retina-icons-code tr {
    td:first-child, th:first-child {
      max-width: 30px;
    }
  }
  .table > {
    thead > tr > th, tbody > tr > th, tfoot > tr > th, thead > tr > td, tbody > tr > td, tfoot > tr > td {
      line-height: 100%;
      padding-left: 4px;
      padding-right: 4px;
    }
    thead > tr > th {
      font-size: 11px;
    }
  }
  .retina-icons-code {
    i {
      font-size: 14px;
    }
    code {
      font-size: 10px;
    }
  }
  .tabs-side {
    .etabs {
      float: none;
      width: 100%;
    }
    .tab {
      a {
        border-right-color: #E6E9ED;
      }
      &:first-child a {
        border-top-right-radius: 3px;
      }
      &:last-child a {
        border-bottom-right-radius: 3px;
      }
      &.active a {
        border-right-color: #CED7E0 !important;
      }
    }
    &.tab-container .panel-container {
      padding-left: 0;
      border-left: none;
      margin-top: 30px;
    }
  }
  .tabs-top {
    .etabs:after {
      display: none;
    }
    .tab {
      display: block;
      max-width: 100%;
      margin: 0;
      a {
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      &:first-child a {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      &:last-child a {
        border-bottom: 1px solid #E6E9ED;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      &.active + .tab a {
        border-top-color: #CED7E0;
        &:hover {
          border-top-color: #1ABB9C;
        }
      }
    }
  }
  .filter:before, .format-filter:before {
    display: none;
  }
  h1.single-block .btn {
    margin-left: 0;
  }
  .sidemeta .date-wrapper, .classic-blog.sidebar-left .sidemeta .date-wrapper {
    top: -80px;
    left: 50%;
    margin-left: -60px;
  }
  .sidemeta .format-wrapper {
    top: -70px;
    left: 50%;
    margin-left: 10px;
  }
  .classic-blog {
    &.sidebar-left .sidemeta .format-wrapper {
      top: -70px;
      left: 50%;
      margin-left: 10px;
    }
    .sidemeta, .pagination {
      padding-left: 0;
      border-left: none;
      margin-left: 0;
    }
    &.sidebar-left {
      .sidemeta, .pagination {
        padding-right: 0;
        border-right: none;
        margin-right: 0;
      }
    }
    &.no-sidebar {
      .sidemeta, .pagination {
        left: 0;
      }
    }
    .post {
      margin-top: 80px;
      width: 100%;
    }
  }
  .grid-blog.col-2 {
    padding-right: 0;
  }
  .sidebar-left .grid-blog.col-2 {
    padding-left: 0;
    + .pagination {
      padding-left: 0;
    }
  }
  .classic-blog .post {
    padding-bottom: 30px;
  }
  .grid-blog {
    &.col-2 .post, &.col-3 .post, &.col-2.no-sidebar .post, &.col-3.no-sidebar .post {
      padding-bottom: 30px;
    }
  }
  .classic-blog .post-content > * {
    margin-left: 30px;
    margin-right: 30px;
  }
  .grid-blog {
    &.col-2 .post-content > *, &.col-3 .post-content > *, &.col-2.no-sidebar .post-content > *, &.col-3.no-sidebar .post-content > * {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
  .classic-blog .post-content .meta {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
  .grid-blog {
    &.col-2 .post-content .meta, &.col-3 .post-content .meta, &.col-2.no-sidebar .post-content .meta, &.col-3.no-sidebar .post-content .meta {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 20px;
    }
  }
  .classic-blog {
    .post-content > *:first-child, .post-media + * {
      margin-top: 30px;
    }
  }
  .grid-blog {
    &.col-2 {
      .post-content > *:first-child, .post-media + * {
        margin-top: 30px;
      }
    }
    &.col-3 {
      .post-content > *:first-child, .post-media + * {
        margin-top: 30px;
      }
    }
    &.col-2.no-sidebar {
      .post-content > *:first-child, .post-media + * {
        margin-top: 30px;
      }
    }
    &.col-3.no-sidebar {
      .post-content > *:first-child, .post-media + * {
        margin-top: 30px;
      }
    }
  }
  .classic-blog .post-title {
    font-size: 24px;
  }
  .grid-blog {
    &.col-2 .post-title, &.col-3 .post-title, &.col-2.no-sidebar .post-title, &.col-3.no-sidebar .post-title {
      font-size: 24px;
    }
  }
  .classic-blog p {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
  }
  .grid-blog {
    &.col-2 p, &.col-3 p, &.col-2.no-sidebar p, &.col-3.no-sidebar p {
      font-size: 16px;
      line-height: 150%;
      margin-bottom: 10px;
    }
  }
  .classic-blog {
    .pagination, .comment-form-wrapper {
      margin-bottom: 100px;
    }
  }
  .pagination {
    margin-bottom: 100px;
  }
  .grid-blog {
    &.col-2.no-sidebar + .pagination, &.col-3.no-sidebar + .pagination {
      margin-bottom: 0;
    }
  }
  .classic-blog {
    .pagination, &.sidebar-left .pagination {
      margin-left: -10px;
    }
  }
  .grid-blog {
    &.col-2 + .pagination, &.col-3 + .pagination, &.col-2.no-sidebar + .pagination, &.col-3.no-sidebar + .pagination {
      margin-left: -10px;
    }
  }
  .pagination {
    > li:first-child {
      margin-left: 10px;
    }
    li {
      margin-bottom: 10px;
    }
  }
  #blog-post .post {
    h2 {
      font-size: 19px;
      margin-bottom: 15px;
    }
    h3 {
      font-size: 16px;
    }
    h4 {
      font-size: 14px;
    }
    figure figcaption p {
      font-size: 14px;
      line-height: 150%;
    }
  }
  [class*="col"] > figcaption:first-child {
    padding-top: 20px;
  }
  .post-author, #comments {
    padding: 30px;
  }
  .post-author {
    .author-image {
      float: none;
      display: inline-block;
      margin-bottom: 20px;
    }
    .author-details {
      padding-left: 0;
    }
  }
  #comments {
    .avatar {
      float: none;
      display: inline-block;
      margin-bottom: 15px;
    }
    .commentbody, .commentlist .children {
      padding-left: 0;
    }
  }
  [class*="col"] {
    &[class*="border-left"] {
      border-left: none;
    }
    &[class*="border-right"] {
      border-right: none;
    }
  }
  .filter li {
    display: block;
    + li {
      margin-top: 15px;
    }
    &:after {
      display: none;
    }
  }
  #hero .info, .items li .text-overlay .info.big, .thumbs .thumb .text-overlay .info.big, .owl-carousel .item .text-overlay .info.big {
    margin-top: -25px;
  }
  .items li .text-overlay .info h2, .thumbs .thumb .text-overlay .info h2, .owl-carousel .item .text-overlay .info h2, .items li .text-overlay .info h3, .thumbs .thumb .text-overlay .info h3, .owl-carousel .item .text-overlay .info h3, .items li .text-overlay .info h4, .thumbs .thumb .text-overlay .info h4, .owl-carousel .item .text-overlay .info h4 {
    font-size: 16px;
    line-height: 150%;
  }
  .items li .text-overlay .info p, .thumbs .thumb .text-overlay .info p, .owl-carousel .item .text-overlay .info p, .items li .text-overlay .info.big p, .thumbs .thumb .text-overlay .info.big p, .owl-carousel .item .text-overlay .info.big p {
    font-size: 14px;
    line-height: 140%;
    padding-top: 0;
  }
  #hero {
    .items li .text-overlay .info.big p, .thumbs .thumb .text-overlay .info.big p, .owl-carousel .item .text-overlay .info.big p {
      font-size: 14px;
      line-height: 140%;
      padding-top: 0;
    }
  }
  .tabs-2-big-top {
    .tab {
      width: 100%;
      margin: 0 0 50px 0;
      a {
        padding: 25px;
      }
    }
    &.tab-container .panel-container {
      margin-top: 0;
    }
  }
  [class*="col"] {
    &[class*="inner-left"], &[class*="inner-right"], &[class*="reset-padding"] {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  [class*="inner-top"].reset-xs {
    padding-top: 0 !important;
  }
  .tabs-circle-top {
    .etabs:before {
      border-bottom: none;
      margin: 0;
    }
    .tab {
      display: table;
      width: 100%;
      height: auto;
      margin: 0;
      &.active {
        top: 0;
      }
      a, &.active a {
        width: 100%;
        max-width: 100%;
        height: auto;
        font-size: 18px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: none;
        border-radius: 0;
      }
      a:hover {
        border-width: 1px;
        border-color: #CED7E0 !important;
        border-top: none;
      }
      &.active a:hover {
        border-color: transparent !important;
      }
      &:first-child a {
        border-top: 1px solid #CED7E0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      &:last-child a {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      }
      a div, &.active a div {
        display: inline-block;
        vertical-align: middle;
        font-size: 30px;
        line-height: 120%;
        padding-bottom: 5px;
        margin: 0 10px 0 0;
      }
    }
  }
  .yamm-content {
    margin-top: 25px;
    > [class*="col"] {
      margin-bottom: 50px;
    }
  }
  .navbar .container, .container {
    padding-right: 20px;
    padding-left: 20px;
  }
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-bottom {
    p.pull-left, ul.pull-right {
      float: none !important;
      text-align: center;
    }
    p {
      margin-bottom: 20px;
    }
  }
  .footer-menu li {
    padding: 0 5px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .filter li a:before {
    display: none;
  }
  .items {
    margin-left: 0 !important;
    /*margin-bottom: -20px !important;*/
    li {
      width: 100% !important;
      margin-left: 0 !important;
      margin-bottom: 20px !important;
    }
    &.fullscreen li {
      margin: 0 !important;
    }
  }
  .sidebar {
    margin-top: 70px;
    padding-left: 15px !important;
  }
  .blog.no-sidebar {
    .post, #comments, .pagination, .comment-form-wrapper {
      width: 100%;
    }
    .pagination ul {
      margin: 0;
    }
  }
  .grid-blog {
    margin-left: 0 !important;
    margin-bottom: 20px !important;
    .post {
      width: 100% !important;
      margin-left: 0 !important;
      margin-bottom: 20px !important;
    }
  }
  #comments {
    ul.children {
      padding: 0 0 0 20px;
    }
    .arrow-box {
      margin-left: 0;
    }
  }
  .panel-title {
    line-height: 18px;
  }
  .yamm .yamm-content.row {
    margin-bottom: -30px;
  }
  .modal .container {
    padding-left: 35px;
    padding-right: 35px;
  }
  .modal-dialog {
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    width: calc(100% - 50px);
  }
  .modal-open {
    background-color: #F2F5F7;
  }
}

@media (min-width: 768px) {
  .modal-open {
    margin-left: -17px;
    margin-right: -17px;
    .navbar-collapse.stuck {
      padding-right: 32px;
      right: 0;
    }
  }
}

@media (min-width: 768px) and (max-height: 1024px) {
  .height-xs, .height-sm, #owl-main .item {
    height: 480px;
  }
  #hero {
    h1 {
      font-size: 60px;
      line-height: 115%;
    }
    p {
      font-size: 22px;
      line-height: 135%;
      margin-top: 17px;
    }
    #owl-main .caption h1 {
      &.light-bg, &.medium-bg, &.dark-bg, &.tint-bg {
        font-size: 50px;
      }
    }
    .btn {
      margin-top: 35px;
    }
    .btn-large {
      font-size: 16px;
      padding: 15px 35px 17px;
    }
  }
}

@media (min-width: 768px) and (max-height: 768px) {
  .height-xs, .height-sm, .height-md, .height-lg {
    height: 480px;
  }
  #owl-main {
    .item, &.height-md .item, &.height-lg .item {
      height: 480px;
    }
  }
}

@media (max-width: 480px) {
  .modal .container {
    padding-left: 25px;
    padding-right: 25px;
  }
  .modal-dialog {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    width: calc(100% - 30px);
  }
  .modal-header {
    padding: 14px 15px;
  }
  .modal-title {
    font-size: 16px;
    line-height: 120%;
  }
}

/*===================================================================================*/
/*  DEMO ONLY
/*===================================================================================*/

a.changecolor {
  cursor: pointer;
}
