$brand-primary: #3399db;
$brand-info:    #03a3e1;
$brand-light: #5cade2;

$letter: #ffffff;
$bg: #E7E8EA;

$gray-darker:  lighten(#000, 20);    /* #333 */
$gray-dark:    lighten(#000, 40);    /* #666 */
$gray:         lighten(#000, 66.5);  /* #aaa */
$gray-light:   lighten(#000, 86.8);  /* #ddd */
$gray-lighter: lighten(#000, 93.5);  /* #eee */
$screen-sm-min : 768px;
$screen-md-min : 992px;
$screen-lg-min : 1200px;